<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tsm.way">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.common.activities.AuthActivity"
            android:theme="@style/AppTheme.BrandedLaunch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.common.activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.discover.activities.PlaceDetailActivity"
            android:parentActivityName=".ui.common.activities.MainActivity" />
        <activity
            android:name=".ui.discover.activities.PlaceListActivity"
            android:parentActivityName=".ui.common.activities.MainActivity" />
        <activity
            android:name=".ui.common.activities.CreatePlanActivity"
            android:parentActivityName=".ui.common.activities.MainActivity" />
        <activity android:name=".firebase.FacebookAccountHelperActivity" />
        <activity
            android:name=".ui.plan.activities.PlanDetailsActivity"
            android:label="@string/title_activity_plan_details"
            android:parentActivityName=".ui.common.activities.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tsm.way.ui.common.activities.MainActivity" />
        </activity>
        <activity
            android:name=".ui.common.activities.SettingsActivity"
            android:parentActivityName=".ui.common.activities.MainActivity"
            android:theme="@style/prefTheme" />
        <activity
            android:name=".ui.common.activities.About"
            android:parentActivityName=".ui.common.activities.MainActivity" />
        <activity
            android:name=".ui.plan.activities.InviteGuestsActivity"
            android:parentActivityName=".ui.discover.activities.PlaceDetailActivity"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".ui.discover.activities.EventDetailActivity"
            android:parentActivityName=".ui.common.activities.MainActivity"
            android:theme="@style/AppThemeWithActionBar" />
        .
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GOOGLE_PLACES_API_KEY" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".services.PendingPlansNotifierJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
        <service android:name=".firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.profile.ShowOtherUserProfileActivity"
            android:label="@string/title_profile"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".ui.Feed.PublicPlanDetailsActivity"
            android:parentActivityName=".ui.common.activities.MainActivity" />
        <activity
            android:name=".ui.discover.activities.EventListActivity"
            android:parentActivityName=".ui.common.activities.MainActivity" />
    </application>

</manifest>