<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tsm.way">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.common.AuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.common.PlaceDetailActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.discover.PlaceListActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.common.CreatePlanActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity android:name=".firebase.FacebookAccountHelperActivity" />
        <activity
            android:name=".ui.plan.PlanDetailsActivity"
            android:label="@string/title_activity_plan_details"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tsm.way.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.common.SettingsActivity"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/prefTheme" />
        <activity
            android:name=".ui.common.About"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.plan.InviteGuestsActivity"
            android:parentActivityName=".ui.common.PlaceDetailActivity"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".ui.discover.EventDetailActivity"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppThemeWithActionBar" />
        .
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GOOGLE_PLACES_API_KEY" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".services.PendingPlansNotifierJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <service android:name=".firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.discover.EventDetailActivity"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppThemeWithActionBar" />

    </application>

</manifest>